.section {
  background-size: cover;
}

.sectionH1Bg {
  background: url('../public/herobg.svg') no-repeat top center;
}

.sectionH2Bg {
  background: url('../public/hero2bg.svg') no-repeat top center;
}

.sectionH3Bg {
  background: url('../public/hero3bg.svg') no-repeat top center;
}

.sectionH4Bg {
  background: url('../public/hero4bg.svg') no-repeat top center;
}

.sectionH5Bg {
  background: url('../public/hero5bg.svg') no-repeat top center;
}

.sectionH6Bg {
  background: url('../public/hero6.svg') no-repeat top center;
}
